<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar a divulgação de informações de metadados, defina o valore abaixo para falso antes da implantação -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="100"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
